<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Nunito&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <style>
         body{
			padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
			width: 80%;
			margin: 50px auto 10px auto;
            background-color: snow  ;
            border: 8px solid rgb(10, 10, 10);
        }
        h2{
			padding-top: 5px;
			font-family: 'Open Sans Condensed', sans-serif;
			text-align: left;
			color: blue;
			text-transform: uppercase;
			font-size: 1   em;
		}
        html{
            background-color: rgb(100,100,100);
            height: 100%;
        }
        li{
            font-family: 'Nunito', sans-serif;
        }
        h1{
            text-align: center;
            font-weight:900;
            font-size:100px;
			font-family: 'Open Sans Condensed', sans-serif;
            color:black;
		}
        p{
			font-family: 'Nunito', sans-serif;
		}
    </style>
</head>
<body>
        <h1>Title - ​Wagging Tail</h1>

<h2>Team Members:</h2>
<ul>
    <li>Gagan GR [PES1UG19CS156]</li>
    <li>Geetanjali Koya [PES1UG19CS168]</li>
    <li>Gauthami S [PES1UG19CS166]</li>
</ul>

<h2>Application:</h2>
<p>

Wagging Tail is a non profit organization. It is run by volunteers located in Bangalore, India.
It is a website where people can adopt dogs which are rescued or give their pets up for adoption.
It is also a great opportunity for the people who are living in cities who can't afford to maintain a
dog, can come here and can adopt a dog for a day or two and experience joy.
This will encourage people to adopt rescued dogs and give them a home inturn will
drastically reduce the puppy mill crisis that is happening in recent times due to the increase in
adoption rate.<br>
All funds raised go directly towards rescuing and treating animals as well as awareness raising.
</p>
<h2>People who will use:</h2>
<ol>
    <li>People who have a dog and are willing to rent it to others to experience the joy of having
        a puppy when they have to go out of town for some work</li>
    <li>People who can't afford/manage a puppy rent(nursing) the puppy for a day or two and
        can experience the fun of having a pet.</li>
    <li>People who are interested can adopt the rescued pets or give their pets up for adoption.
    </li>
</ol>

<h2>Functionality:</h2> 
<ol>
    <li>Using Bootstrap for the FrontEnd .</li>
    <li>Using MongoBD as the database for the website.</li>
    <li> Using Express.js to create a web server and render HTML pages.</li>
    <li>Using ejs for building static webpages.</li>
</ol>
</body>
</html>